@import 'tailwindcss';

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
}

/* 버튼 */
button {
  cursor: pointer;
}

/* 링크 */
a {
  text-decoration: none;
  color: inherit;
}
